<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Wallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>HEADER - ADM</h1>

    <%= yield %>
    
    <h1>FOOTER - ADM</h1>
  </body>
</html>
