<h1>Welcome!</h1>
<p>Today is <%= data_us(Date.today)%> </p>
<p>Hello Isaac!</p>

<ul>
    <li>
        <%= link_to "Coins register", coins_path %>
    </li>
</ul>

<!--
<p>1 + 1 = <%= 1 + 1 %></p>
<p>Your reverse name is <%= "Isaac".reverse %></p>
<% ax = "I'm a var" %>
<p>a = <%= ax %></p>
<p>Now i have a <%# "comment" %> </p>
 -->