<%= render "header" %>
<p> <%= I18n.t('hello') %> </p>

<p>You are in <strong><%= environment %></strong> environment.</p>
<p><%= I18n.t('welcome') %> <b>Isaac</b><!-- Coloque em params /?name=Isaac<strong> <%= @my_name %></strong> -->.</p>
<p>You learning in this course the <strong><%= @course %></strong>.</p>

<!--
<p>1 + 1 = <%= 1 + 1 %></p>
<p>Your reverse name is <%= "Isaac".reverse %></p>
<% ax = "I'm a var" %>
<p>a = <%= ax %></p>
<p>Now i have a <%# "comment" %> </p>
 -->